/*
 * <article class="comment">
 *   <div class="comment__context">optional context thing</p>
 *
 *   <div class="comment__row">
 *     <div class="comment__main">
 *       <h1 class="comment__info">...</h1>
 *       <div class="comment__body">...</div>
 *       <nav class="comment__nav">...</nav>
 *     </div>

 *     <div class="comment__vote">...</div>
 *   </div>
 *
 *   <!-- exists only with replies -->
 *   <div class="comment__replies">
 *     <article class="comment">...</article>
 *     <article class="comment">...</article>
 *   </div>
 * </article>
 */
.comment {
  @border-thin: 1px;
  @border-thick: 3px;

  border-bottom: solid @border-thin var(--border-light);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__context {
    p {
      margin-bottom: 0;
    }
  }

  &__row {
    border: solid @border-thin var(--border-light);
    border-bottom: none;
    border-left-width: @border-thick;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0.5rem;
  }

  &__vote {
    padding-bottom: 0.5rem;
  }

  &__main {
    flex-grow: 1;
    min-width: 0;
  }

  &__replies {
    border-left: solid @border-thick var(--border-light);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    @media screen and (max-width: 480px) {
      padding-left: 0.25rem;
    }
  }

  &__info {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  &__body {
    min-height: 1rem;
    padding-right: 0.5rem;
  }

  &__nav {
    margin-top: -0.5rem; // dig into margin of last element in comment body
    margin-bottom: 0.5rem;
  }

  &--nested:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

