.submission-meta {
  &__short-url {
    background-color: var(--fg-broken);
    color: var(--text-invert);
    display: block;
    -webkit-user-select: all;
    -moz-user-select: all;
    padding: 0.2rem 0.4rem;
    user-select: all;
  }
}
