version: '3'

volumes:
    minio_data:
        driver: local
    postgres_data:
        driver: local

services:
    db:
        image: postgres:11-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data
    web:
        build: docker/nginx
        links:
            - php
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./public:/app/public:ro
    php:
        build: docker/php
        environment:
            - DATABASE_URL=pgsql://postgres@db/postgres?serverVersion=11
        links:
            - db
            - rabbitmq
            - s3
        volumes:
            - ./.git:/app/.git:ro
            - ./:/app
    assets:
        build: docker/node
        command: ["sh", "-c", "yarn && yarn run watch"]
        volumes:
            - ./.git:/app/.git:ro
            - ./:/app:rw
    s3:
        command: server /data/minio
        image: minio/minio
        ports:
            - 9000:9000
        volumes:
            - minio_data:/data
        environment:
            MINIO_ACCESS_KEY: minio
            MINIO_SECRET_KEY: minio123
    rabbitmq:
        image: rabbitmq:3.7-alpine
