{% set colors = {
  error: 'red',
  warn: 'orange',
  info: 'yellow',
  success: 'green',
  notice: 'blue',
} %}
{% set icons = {
  error: 'cancel-circled',
  warn: 'attention',
  info: 'help-circled',
  notice: 'info-circled',
  success: 'ok-circled',
} %}
{% set type = type ?? 'notice' %}
{% from '_macros/icon.html.twig' import icon %}
<div class="alert bg-{{ colors[type] }} {% block alert_classes '' %}"
     {% block alert_attributes '' %}>
  <div class="alert__icon fg-{{ colors[type] }}" aria-hidden="true">
    {{ icon(icons[type]) }}
  </div>

  <div class="alert__text">
    {% block alert_text %}
      <p>{% block alert_paragraph '' %}</p>
    {% endblock alert_text %}
  </div>
</div>
