{% extends 'user/base.html.twig' %}
{% from 'user/_macros.html.twig' import user_link %}

{% block title 'title.blocking_user'|trans({'%user%': '/u/'~user.username}) %}

{% block body %}
  <h1 class="page-heading">
    {{ 'title.blocking_user'|trans({
      '%user%': user_link(user, {prefix: true}),
    })|raw }}
  </h1>

  {% embed '_layouts/alert.html.twig' with { type: 'info' } %}
    {% block alert_text %}
      <p>{{ 'help.block_users'|trans }}</p>
    {% endblock alert_text %}
  {% endembed %}

  {{ form(form) }}
{% endblock %}
